// Base
@import './reset';
@import './variables';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

$white: red;

html,
body,
#root {
  width: 100%;
  font-size: 16px;
}

body {
  font-family: var(--font-main);
  color: var(--white);
  background-color: var(--dark);
}

a {
  color: var(--white);
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--accent);
  }
}

#root {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
