@import '../../styles/breakponts';

.wrap {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.nav {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.7px;

  &_btn {
    display: none;
  }
}

@media screen and (max-width: $tablet) {
  .nav {
    display: none;
    &_btn {
      display: block;
    }
  }
}

@media screen and (max-width: $mobile) {
  .logo {
    width: 6.25rem;
  }
}
