.wrap {
  // position: absolute;
  width: 100%;
  // left: 0;
  // top: 0;
  z-index: 1;
}

.row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}

.nav {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  font-size: 0.875rem;
  letter-spacing: 0.7px;
}
