@import '../../styles/breakponts';

.wrap {
  margin: 0 auto;
  padding: 10rem 0;
}
.title {
  margin-bottom: 2.375rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: center;
}

@media screen and (max-width: $tablet) {
  .wrap {
    padding: 4rem 0;
  }

  .title {
    margin-bottom: 2rem;
  }

  .form {
    grid-template-columns: repeat(2, 1fr);

    button {
      grid-column: 1 / 3;
    }
  }

  .descr {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}

@media screen and (max-width: $mobile) {
  .title {
    margin-bottom: 1rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3rem;

    button {
      grid-column: auto;
    }
  }

  .descr {
    grid-column: auto;
  }
}
