@import '../../styles/breakponts';

.wrap {
  padding: 7.5rem 0;
}

.row {
  margin: 0 auto;
  max-width: 840px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 3.75rem;
}

.item {
  display: grid;
  grid-template-rows: 5rem 1fr;
  justify-items: center;
  justify-self: center;
  row-gap: 2rem;

  text-align: center;

  &__img {
    height: 80px;
    // align-self: end;

    img {
      max-height: 100%;
    }
  }

  &__title {
    // align-self: start;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.35;
  }
}

@media screen and (max-width: $tablet) {
  .wrap {
    padding: 4rem 0;
  }

  .row {
    grid-template-columns: repeat(2, 250px);
    column-gap: 2rem;
    row-gap: 3rem;
  }

  .item {
    &__img {
      height: 60px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .wrap {
    padding: 2rem 0;
  }

  .row {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .item {
    grid-template-columns: 60px minmax(auto, 250px);
    gap: 2rem;
    align-items: center;
    justify-items: start;

    text-align: start;
  }
}
